// Styling for the intranet section
section#intranet {
  background-image: url('../img/almpes-bg.png');
  background-repeat: no-repeat;
  background-position: center;
 
.intranet-heading {
  margin: 15px 0;
  text-transform: none;
	}
 }