// Styling for the services section
section#services {
  background-image: url('../img/almpes-bg.png');
  background-repeat: no-repeat;
  background-position: center;
 
.service-heading {
  margin: 15px 0;
  text-transform: none;
	}
 }