<table class="table table-bordered" id="SecondTable" cellspacing="0" style="text-align: center; font-size: 12px; width: 100%;">
    <thead>
        <tr>
            <th>Promotor</th>
            <th>Supervisor</th>
            <th>Venta Total</th>
            <th>Venta Valida</th>
            <th>Venta Aprobada</th>
            <th>% Passing Valido</th>
            <th>% Passing Aprobado</th>
            <th>% Venta</th>
            <th>% Valida</th>
            <th>% Aprobada</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th style="text-align: center;">Total General</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
