<table class="table table-bordered" id="SecondTable" cellspacing="0" style="text-align: center; font-size: 12px; width: 100%">
    <thead>
        <tr>
            <th>Mes</th>
            <th>Año</th>
            <th>1.Venta Total</th>
            <th>2.Venta Validada</th>
            <th>3.Venta Aprobada</th>
            <th>4.Venta Activada</th>
            <th>5.Activas Mes</th>
            <th>6.Activas Mes0</th>
            <th>7.Activas Mes1</th>
            <th>8.Activas Mes2</th>
            <th>9.Uso</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="2" style="text-align:center">Total General</th>
            @*Estos pie de pagina vacio se llenaran con el JavaScript al inferior de la pagina*@
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
