
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        @*<a href="#">Dashboard</a>*@
        Base de Datos
    </li>
    @*<li class="breadcrumb-item active">Tables</li>*@
    <li class="breadcrumb-item">Dia</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Informe de Reporte Nro1
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="FirstTable" cellspacing="0" style="text-align: center; font-size: 10.5px; width: 100%">
                <thead>
                    <tr>
                        <th>Zona</th>
                        <th>Semana</th>
                        <th>DiaSemana</th>
                        <th>Fecha</th>
                        <th>N° Venta</th>
                        <th>N° Ven. Valida</th>
                        <th>Dotacion</th>
                        <th>Recorrido por Dia</th>
                        <th>Contacto Efectivo con Titular</th>
                        <th>Recorrido Real</th>
                        <th>CET Real</th>
                        <th>N° de Vueltas</th>
                        <th>Ventas TMO</th>
                        <th>CET TMO</th>
                        <th>% CET Real</th>
                        <th>% Acep. Real</th>

                        <th>CET Tiempo</th>
                        <th>Ventas Tiempo</th>
                        <th>Recorrido Unico</th>

                        <th>CET Unico</th>
                        <th>BBDD Asignada</th>
                        <th>Indecopi</th>
                        <th>Retiro Leads</th>
                        <th>Recorrido por Dia Tiempo</th>
                        <th>CTR Tiempo</th>
                        <th>Contacto con Tercero Relacionado</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<br />
<div class="card mb-3">
    @Html.Partial("Reporte2")
</div>
<br />
<div class="card mb-3">
    @Html.Partial("Reporte25")
</div>
<p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
</p>
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Assets/ScriptReports/report_1.js"></script>
<script src="~/Assets/ScriptReports/report_25.js"></script>
<script src="~/Assets/ScriptReports/report_2.js"></script>

