<div class="card-header">
    <i class="fas fa-table"></i>
    Informe de Reporte Nro25
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="ThirdTable" cellspacing="0" style="text-align: center; font-size: 10.5px; width: 100%">
            <thead>
                <tr>
                    <th>Periodo</th>
                    <th>F_Recep</th>
                    <th>Nro. Venta</th>
                    <th>N.Ven. Valida</th>
                    <th>Llamadas Total</th>
                    <th>CET Tiempo</th>
                    <th> N° de Vueltas</th>
                    <th>Ok Almpes</th>
                    <th>Llamados Unico</th>
                    <th>CET Unico</th>
                    <th>BBDD Acumulado</th>
                    <th>Retiro de Leads</th>
                    <th>BBDD Total</th>
                    <th>Avance & BBDD</th>
                    <th>%BBDD</th>
                    <th>Avance %CET</th>
                    <th>Aceptacion%</th>
                    <th>VentasTiempo</th>
                    <th>VentaTMO</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan="2"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>


