@{
    ViewBag.Title = "Reporte 29";
}
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>

<script src="~/Assets/jqgrid/js/jquery-1.11.0.min.js"></script>
<script src="~/Assets/jqgrid/js/jquery.jqGrid.min.js"></script>
<script src="~/Assets/jqgrid/js/i18n/grid.locale-es.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<link href="~/Assets/jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $("#grid").jqGrid({
            url: "/ConsultaReporte/Reporte29Lists",
            datatype: 'json',
            mtype: 'Get',
            colNames: ['HORA', 'DIA', 'MES', 'FECHA_LLAMADA',
                       'DNI', 'TELEFONO', 'USERGO', 'NOMBREGO',
                        'RESULTADO', 'DURACION_SEG'],
            colModel: [
            { name: 'HORA', index: 'HORA', width: 15 },
            { name: 'DIA', index: 'DIA', width: 15 },
            { name: 'MES', index: 'MES', width: 15 },
            { name: 'FECHA_LLAMADA', index: 'FECHA_LLAMADA', width: 15, formatter: 'date', formatoptions: { newformat: 'm/d/Y' }, datefmt: 'd-M-Y' },
            { name: 'DNI', index: 'DNI', width: 15 },
            { name: 'TELEFONO', index: 'TELEFONO', width: 15 },
            { name: 'USERGO', index: 'USERGO', width: 15 },
            { name: 'NOMBREGO', index: 'NOMBREGO', width: 15 },
            { name: 'RESULTADO', index: 'RESULTADO', width: 15 },
            { name: 'DURACION_SEG', index: 'DURACION_SEG', width: 15 }
            ],
            pager: jQuery('#pager'),
            rowNum: 10,
            rowList: [10, 150, 300],
            height: '100%',
            viewrecords: true,
            caption: 'Todo List',
            loadonce: false,
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            },
            autowidth: true,
            multiselect: false
        });
    });
</script>