@{
    ViewBag.Title = "Reporte 1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Informe de Reporte
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @Html.Partial("ConsultaReportePartial")
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
</p>

<script src="~/Assets/jqgrid/js/jquery-1.11.0.min.js"></script>
<script src="~/Assets/jqgrid/js/jquery.jqGrid.min.js"></script>
<script src="~/Assets/jqgrid/js/i18n/grid.locale-es.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<link href="~/Assets/jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />


<script type="text/javascript">
    $("#grid").jqGrid({
        url: "/ConsultaReporte/Reporte1Lists",
        datatype: 'json',
        mtype: 'Get',
        colNames: ['Zona', 'Semana', 'DiaSemana', 'Fecha',
                   'NroVenta', 'NroVenValida', 'Dotacion',
                   'RecorridoDia', 'ContactoEfectivoTitular', 'ContactoTerceroRelacionado',
                   'RecorridoReal', 'CETReal', 'BBDDAsignada',
                   'RecorridoDiaTiempo', 'CETTiempo', 'CTRTiempo',
                   'VentasTiempo', 'RecorridoUnico', 'CETUnico',
                    'Indecopi', 'RetiroLeads'],
        colModel: [
        { name: 'Zona', index: 'Zona', width: 100, align: 'center' },
        { name: 'Semana', index: 'Semana', width: 100, align: 'center' },
        { name: 'DiaSemana', index: 'DiaSemana', width: 100, align: 'center' },
        { name: 'Fecha', index: 'Fecha', width: 100, align: 'center', formatter: 'date', formatoptions: { newformat: 'd/m/Y' }, datefmt: 'Y-M-d' },
        { name: 'NroVenta', index: 'NroVenta', width: 100, align: 'center', },
        { name: 'NroVenValida', index: 'NroVenValida', width: 100, align: 'center' },
        { name: 'Donacion', index: 'Donacion', width: 100, align: 'center' },
        { name: 'RecorridoDia', index: 'Recorrido por Dia', width: 100, align: 'center' },
        { name: 'ContactoEfectivoTitular', index: 'Contacto Efectivo con Titular', width: 100, align: 'center' },
        { name: 'ContactoTerceroRelacionado', index: 'Contacto con Tercero Relacionado', width: 100, align: 'center' },
        { name: 'RecorridoReal', index: 'RecorridoReal', width: 100, align: 'center' },
        { name: 'CETReal', index: 'CETReal', width: 100, align: 'center' },
        { name: 'BBDDAsignada', index: 'BBDDAsignada', width: 100, align: 'center' },
        { name: 'RecorridoDiaTiempo', index: 'Recorrido por Dia Tiempo', width: 100, align: 'center' },
        { name: 'CETTiempo', index: 'CETTiempo', width: 100, align: 'center' },
        { name: 'CTRTiempo', index: 'CTRTiempo', width: 100, align: 'center' },
        { name: 'VentasTiempo', index: 'VentasTiempo', width: 100, align: 'center' },
        { name: 'RecorridoUnico', index: 'RecorridoUnico', width: 100, align: 'center' },
        { name: 'CETUnico', index: 'CETUnico', width: 100, align: 'center' },
        { name: 'Indecopi', index: 'Indecopi', width: 100, align: 'center' },
        { name: 'RetiroLeads', index: 'RetiroLeads', width: 100, align: 'center' }
        ],
        pager: jQuery('#pager'),
        rowNum: 10,
        rowList: [10, 150, 300],
        height: '100%',
        viewrecords: true,
        caption: 'Todo List',
        loadonce: false,
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            Id: "0"
        },
        autowidth: true,
        multiselect: false
    });

</script>



