@{
    ViewBag.Title = "Reporte 10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Informe de Reporte Nro10
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @*<table cellspacing="5" cellpadding="5" border="0">
                <tbody>
                    <tr>
                        <td>Minimum age:</td>
                        <td><input type="text" id="min" name="min"></td>
                    </tr>
                    <tr>
                        <td>Maximum age:</td>
                        <td><input type="text" id="max" name="max"></td>
                    </tr>
                </tbody>
            </table>*@
            <table class="table table-bordered" id="myTable" cellspacing="0" style="text-align: center; font-size: 13px; width: 100%">
                <thead>
                    <tr>
                        <th>PeriodoOrd</th>
                        <th>Periodo</th>
                        <th>1.Venta Total</th>
                        <th>3.Venta Aprobada</th>
                        <th>4.Venta Activada</th>
                        <th>5.Activadas del Mes</th>
                        <th>Total General</th>
                    </tr>
                </thead>
            </table>
            <input type="button" id="btnMostrar" value="Mostrar" onclick=" location.href = '/Charts/ChartsView' " />
        </div>
        <br /><br /><br />
        <div class="table-responsive">
            <table class="table table-bordered" id="SecondTable" cellspacing="0" style="text-align: center; font-size: 12px; width: 100%">
                <thead>
                    <tr>
                        <th>Mes</th>
                        <th>Año</th>
                        <th>1.Venta Total</th>
                        <th>2.Venta Validada</th>
                        <th>3.Venta Aprobada</th>
                        <th>4.Venta Activada</th>
                        <th>5.Activas Mes</th>
                        <th>6.Activas Mes0</th>
                        <th>7.Activas Mes1</th>
                        <th>8.Activas Mes2</th>
                        <th>9.Uso</th>
                    </tr>                    
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="2" style="text-align:center">Total General</th>
                        @*Estos pie de pagina vacio se llenaran con el JavaScript al inferior de la pagina*@
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
@*Este script sirve para la tabla myTable. Crea la tabla.*@
<script src="~/Assets/ScriptReports/report_10A.js"></script>
@*Este script sirve para la tabla SecondTable. Crear la tabla y suma de sus columnas*@
<script src="~/Assets/ScriptReports/reporte10B.js"></script>