@{
    ViewBag.Title = "Reporte 8";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Base de Datos por Telefono
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="FirstTable" cellspacing="0" style="text-align: center; font-size: 15px; width: 100%">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>DiaSemana</th>
                        <th>T1</th>
                        <th>T2</th>
                        <th>T3</th>
                        <th>T4</th>
                        <th>Q1</th>
                        <th>Q2</th>
                        <th>Cet</th>
                        <th>NA</th>
                        <th>Total General</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="2" style="text-align:center">Total General</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="SecondTable" cellspacing="0" style="text-align: center; font-size: 15px; width: 100%">
                <thead>
                    <tr>
                        <th>Periodo</th>
                        <th>T1</th>
                        <th>T2</th>
                        <th>T3</th>
                        <th>T4</th>
                        <th>Q1</th>
                        <th>Q2</th>
                        <th>Cet</th>
                        <th>Total General</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Total General</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="ThirdTable" cellspacing="0" style="text-align: center; font-size: 11px; width: 100%">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Tipo</th>
                        <th>Q1</th>
                        <th>Q2</th>
                        <th>Cet</th>
                        <th>W1</th>
                        <th>NA</th>
                        <th>Total Telef.</th>
                        <th>T1</th>
                        <th>T2</th>
                        <th>T3</th>
                        <th>T4</th>
                        <th>T5</th>
                        <th>Total Telef.</th>
                        <th>Total General</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th @*colspan="2" style="text-align:center"*@>Total General</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Assets/ScriptReports/report_8A.js"></script>
<script src="~/Assets/ScriptReports/report_8B.js"></script>
<script src="~/Assets/ScriptReports/report_8C.js"></script>