@{
    ViewBag.Title = "Reporte 5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Informe de Reporte Nro5
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable" cellspacing="0" style="text-align: center; font-size: 15px; width: 100%">
                <thead>
                    <tr>
                        <th>TipoMes</th>
                        <th>EstadoVer</th>
                        <th>Mes</th>
                        <th>DNI</th>
                        <th>Cliente</th>
                        <th>Nro Solicitud</th>
                        <th>FechaVenta</th>
                        <th>Ver</th>
                        <th>Descripcion</th>
                        <th>ST3</th>
                        <th>ST1</th>
                        <th>Glosa</th>
                        <th>Promotor</th>
                        <th>Supervisor</th>
                        <th>Estado Final</th>
                        <th>RT95FACT</th>
                        <th>Estado</th>
                        <th>F_Ini</th>
                        <th>Turno</th>
                        <th>Horas</th>
                        <th>Estado de Envio</th>
                        <th>Comision</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>TipoMes</th>
                        <th>EstadoVer</th>
                        <th>Mes</th>
                        <th>DNI</th>
                        <th>Cliente</th>
                        <th>Nro Solicitud</th>
                        <th>FechaVenta</th>
                        <th>Ver</th>
                        <th>Descripcion</th>
                        <th>ST3</th>
                        <th>ST1</th>
                        <th>Glosa</th>
                        <th>Promotor</th>
                        <th>Supervisor</th>
                        <th>Estado Final</th>
                        <th>RT95FACT</th>
                        <th>Estado</th>
                        <th>F_Ini</th>
                        <th>Turno</th>
                        <th>Horas</th>
                        <th>Estado de Envio</th>
                        <th>Comision</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
</p>
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable({
            "ajax": {
                "url": "/consultareporte/cargarreporte5",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "TipoMes", "autoWidth": true },
                { "data": "EstadoVer", "autoWidth": true },
                { "data": "Mes", "autoWidth": true },
                { "data": "DNI", "autoWidth": true },
                { "data": "Cliente", "autoWidth": true },
                { "data": "NroSolicitud", "autoWidth": true },
                { "data": "FechaVenta", "autoWidth": true },
                { "data": "Ver", "autoWidth": true },
                { "data": "Descripcion", "autoWidth": true },
                { "data": "ST3", "autoWidth": true },
                { "data": "ST1", "autoWidth": true },
                { "data": "Glosa", "autoWidth": true },
                { "data": "Promotor", "autoWidth": true },
                { "data": "Supervisor", "autoWidth": true },
                { "data": "EstadoFinal", "autoWidth": true },
                { "data": "RT95FACT", "autoWidth": true },
                { "data": "Estado", "autoWidth": true },
                { "data": "F_Ini", "autoWidth": true },
                { "data": "Turno", "autoWidth": true },
                { "data": "Horas", "autoWidth": true },
                { "data": "EstadoEnvio", "autoWidth": true },
                { "data": "Comision", "autoWidth": true }
            ],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
        });

        $('#myTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar ' + title + '" style="width:150px;"/>');
        });

        var table = $('#myTable').DataTable();

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>