@{
    ViewBag.Title = "Reporte 10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Informe de Reporte Nro10
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @*<table cellspacing="5" cellpadding="5" border="0">
                <tbody>
                    <tr>
                        <td>Minimum age:</td>
                        <td><input type="text" id="min" name="min"></td>
                    </tr>
                    <tr>
                        <td>Maximum age:</td>
                        <td><input type="text" id="max" name="max"></td>
                    </tr>
                </tbody>
            </table>*@
            <table class="table table-bordered" id="myTable" cellspacing="0" style="text-align: center; font-size: 15px; width: 100%">
                <thead>
                    <tr>
                        <th>Periodo</th>
                        <th>PeriodoOrd</th>
                        <th>Mes</th>
                        <th>Anio</th>
                        <th>TipoVenta</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Periodo</th>
                        <th>PeriodoOrd</th>
                        <th>Mes</th>
                        <th>Anio</th>
                        <th>TipoVenta</th>
                        <th>Cantidad</th>
                    </tr>
                </tfoot>
            </table>
            @*<input type="button" id="btnMostrar" value="Mostrar" onclick=" location.href = '/Charts/ChartsView' " />*@
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
</p>
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable({
            "ajax": {
                "url": "/consultareporte/cargarreporte10",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Periodo", "autoWidth": true },
                { "data": "PeriodoOrd", "autoWidth": true },
                { "data": "Mes", "autoWidth": true },
                { "data": "Anio", "autoWidth": true },
                { "data": "TipoVenta", "autoWidth": true },
                { "data": "Cantidad", "autoWidth": true }
            ],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
        });

        $('#myTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar ' + title + '" style="width:150px;"/>');
        });

        // DataTable
        var table = $('#myTable').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
//        $.fn.dataTable.ext.search.push(
//    function (settings, data, dataIndex) {
//        var min = parseInt($('#min').val(), 10);
//        var max = parseInt($('#max').val(), 10);
//        var age = parseFloat(data[5]) || 0; // use data for the age column

//        if ((isNaN(min) && isNaN(max)) ||
//             (isNaN(min) && age <= max) ||
//             (min <= age && isNaN(max)) ||
//             (min <= age && age <= max)) {
//            return true;
//        }
//        return false;
//    }
//);

//        $(document).ready(function () {
//            var table = $('#myTable').DataTable();

//            // Event listener to the two range filtering inputs to redraw on input
//            $('#min, #max').keyup(function () {
//                table.draw();
//            });
//        });
    });
</script>