@{
    ViewBag.Title = "Reporte 11";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Informe de Reporte Nro11
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable" width="100%" cellspacing="0" style="text-align: center; font-size: 15px;">
                <thead>
                    <tr>
                        <th>Promotor</th>
                        <th>Supervisor</th>
                        <th>Venta Total</th>
                        <th>Venta Valida</th>
                        <th>Venta Aprobada</th>
                        <th>Dia</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
</p>
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable({
            "ajax": {
                "url": "/consultareporte/cargarreporte11",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Promotor", "autoWidth": true },
                { "data": "Supervisor", "autoWidth": true },
                { "data": "VentaTotal", "autoWidth": true },
                { "data": "VentaValida", "autoWidth": true },
                { "data": "VentaAprobada", "autoWidth": true },
                { "data": "Dia", "autoWidth": true }
            ],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    });
</script>