@{
    ViewBag.Title = "Reporte 9";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Informe de Reporte Nro9
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable" cellspacing="0" style="text-align: center; font-size: 12px; width: 100%;">
                <thead>
                    <tr>
                        <th>Periodo</th>
                        <th>Año</th>
                        <th>00.VENTA CRM</th>
                        <th>01.CLIENTE ACEPTA OFERTA</th>
                        <th>02.NO DESEA POR OFERTA</th>
                        <th>03.NO DESEA B POR TASAS</th>
                        <th>04.NO CALIFICA</th>
                        <th>05.MEJOR OFERTA OTRA ENTIDAD</th>
                        <th>06.MALA  EXPERIENCIA</th>
                        <th>07.CLIENTE YA CUENTA CON OFERTA</th>
                        <th>08.CLIENTE SE ACERCARA AGENCIA</th>
                        <th>09.CLIENTE NO DESEA NO INSISTIR</th>
                        <th>11.CITA TELEFONICA CON TITULAR</th>
                        <th>12.CITA TELEFONICA CON TITULAR</th>
                        <th>13.CITA TELEFONICA CON TITULAR</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
</p>
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Assets/ScriptReports/report_9.js"></script>