@{
    ViewBag.Title = "Reporte 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Informe de Reporte Nro2
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable" cellspacing="0" style="text-align: center; font-size: 12px; width: 100%">
                <thead>
                    <tr>
                        <th>Zona</th>
                        <th>FRecep</th>
                        <th>NroVenta</th>
                        <th>NroVenValida</th>
                        <th>BBDD</th>
                        <th>Indecopi</th>
                        <th>RetiroLead</th>
                        <th>Recorrido Real</th>
                        <th>CETReal</th>
                        <th>N° Vueltas</th>
                        <th>% CET</th>
                        <th>% Aceptacion</th>
                        <th>Avance %</th>
                        <th>% Efectividad</th>
                        <th>Recorrido</th>
                        <th>CET</th>
                        <th>CET Vueltas</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="2" style="text-align: center;">Total General</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Assets/ScriptReports/report_2.js"></script>