@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        @*<a href="#">Dashboard</a>*@
        Resumen
    </li>
    @*<li class="breadcrumb-item active">Tables</li>*@
    <li class="breadcrumb-item active">Mes</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Operación del mes - Campaña Crediscotia TC
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="FirstTable" width="100%" cellspacing="0" style="text-align: center; font-size: 15px;">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Venta Total</th>
                        <th>Venta Valida</th>
                        <th>Venta Aprobada</th>
                        <th>% Passing Valido</th>
                        <th>% Passing Aprobado</th>
                        <th>Validado</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th style="text-align: center;">Total General</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<br />
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Operación del mes a detalle - Campaña Crediscotia TC
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="SecondTable" width="100%" cellspacing="0" style="text-align: center; font-size: 12px;">
                <thead>
                    <tr>
                        <th>Promotor</th>
                        <th>Supervisor</th>
                        <th>Venta Total</th>
                        <th>Venta Valida</th>
                        <th>Venta Aprobada</th>
                        <th>% Passing Valido</th>
                        <th>% Passing Aprobado</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th style="text-align: center;">Total General</th>
                        <th></th>                     
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Assets/ScriptReports/report_11A.js"></script>
<script src="~/Assets/ScriptReports/report_11B.js"></script>