@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>.::ALMPES::. Contact Center</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="~/Assets/css/agency.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">ALMPES</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#intranet">Intranet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contáctenos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenido a ALMPES!</div>
                <div class="intro-heading">Mucho gusto, <br /> Iniciemos esta Aventura</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Dale Click</a>
            </div>
        </div>
    </header>
    <!-- Services -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Nosotros</h2>
                    <h3 class="section-subheading text-black-50">Conozca más de nuestra Empresa.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">VISION</h4>
                    <p class="text-muted">
                        Gestionar de forma eficiente los procesos de negocio de nuestros clientes logrando incrementar su rentabilidad
                        y la satisfacción de sus usuarios finales.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">MISION</h4>
                    <p class="text-muted">Ser líderes en el mercado logrando satisfacer las expectativas de nuestros Clientes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">ACERCA DE ALMPES</h4>
                    <p class="text-muted">
                        Somos una empresa dedicada a la Búsqueda de soluciones y alternativas de negocio para nuestros Clientes,
                        mejorando la comunicación entre su empresa y sus clientes.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Servicios</h2>
                    <h3 class="section-subheading text-muted">Damos lo mejor de nosotros en nuestro trabajo.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-3 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="~/Assets/img/portfolio/inbound1.jpg" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>SERVICIO INBOUND</h4>
                        <p class="text-muted">Respeto y Paciencia</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-3 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="~/Assets/img/portfolio/outbound1.jpg" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>SERVICIO OUTBOUND</h4>
                        <p class="text-muted">Llamadas Estratégicas</p>
                    </div>
                </div>
                <!--HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH-->
                <div class="col-md-4 col-sm-3 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="~/Assets/img/portfolio/Consultoria1.jpg" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>CONSULTORIA ESPECIALIZADA</h4>
                        <p class="text-muted">Brindando nuestro conocimiento</p>
                    </div>
                </div>
                <!--HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH-->
            </div>
        </div>
    </section>
    <!-- About -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Historia</h2>
                    <h3 class="section-subheading text-muted">repasemos este viaje.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Assets/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mayo-2015</h4>
                                    <h4 class="subheading">Nace Almpes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">La empresa da inicio con mucha expectativa y ganas de crecimiento con capacitaciones para poder enfrentar este reto</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Assets/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mayo 2016</h4>
                                    <h4 class="subheading">Crediscotia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El esfuerzo puesto en marcha da como resultado el primer cliente que apuesta por nosotros y al cual no hemos defraudado!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Assets/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2017</h4>
                                    <h4 class="subheading">Capacitaciones Constantes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Es necesario que me den un poco de información para que quede bien chill esta parte</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Assets/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Octubre 2018</h4>
                                    <h4 class="subheading">Comienza la Expansión</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nos expandemos a nuevos productos Crediscotia!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Sé parte
                                    <br>de Nuestra
                                    <br>Historia!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Nuestro Equipo de Trabajo</h2>
                    <h3 class="section-subheading text-muted">Tenemos un equipo de Solidez y nos da gusto que lo conozcas.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Assets/img/team/Alejandro.png" alt="">
                        <h4>Alejandro Morales</h4>
                        <p class="text-muted">CEO</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Assets/img/team/Abel.png" alt="">
                        <h4>Abel Suyo</h4>
                        <p class="text-muted">CEO</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Assets/img/team/Marlon.png" alt="">
                        <h4>Kosly karuz</h4>
                        <p class="text-muted">Jefe de operaciones</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Assets/img/team/Rocio.png" alt="">
                        <h4>Rocío Miranda</h4>
                        <p class="text-muted">Recursos Humanos</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Parte de nuestro trabajo es hacer que el equipo que tenemos tenga un ambiente eficaz de trabajo y puedan lograr todos los objetivos trazados.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Intranet -->
    <section id="intranet">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Intranet</h2>
                    <h3 class="section-subheading text-black-50">Red interna de trabajo.</h3>
                </div>
            </div>
            <div class="row text-center">
                <!-- AQUI IRA EL BOTON DE CRM -->
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-fluid" src="~/Assets/img/INTRANET/ESCRITORIO.PNG" width="150" />
                    </a>
                    <h4 class="service-heading">Extranet</h4>
                    <p class="text-muted">
                        Gestionar de forma eficiente los procesos de negocio de nuestros clientes logrando incrementar su rentabilidad
                        y la satisfacción de sus usuarios finales.
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-fluid" src="~/Assets/img/INTRANET/INVENTARIO.png" width="150" />
                    </a>
                    <h4 class="service-heading">INVENTARIO</h4>
                    <p class="text-muted">
                        Gestionar de forma eficiente los procesos de negocio de nuestros clientes logrando incrementar su rentabilidad
                        y la satisfacción de sus usuarios finales.
                    </p>
                </div>
                <!-- AQUI IRA EL BOTON DE LOGEO ACTUAL -->
                <div class="col-md-4">
                    <a href="/Login/Login">
                        <img class="img-fluid" src="~/Assets/img/INTRANET/REPORTES.png" width="150"/>
                    </a>
                    <h4 class="service-heading">REPORTES</h4>
                    <p class="text-muted">
                        Gestionar de forma eficiente los procesos de negocio de nuestros clientes logrando incrementar su rentabilidad
                        y la satisfacción de sus usuarios finales.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Contactanos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="Nombres *" required="required" data-validation-required-message="Por favor Ingrese su Nombre.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="email" type="email" placeholder="Correo Electrónico *" required="required" data-validation-required-message="Por favor Ingrese su Correo.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="phone" type="tel" placeholder="Telefono *" required="required" data-validation-required-message="Por favor Ingrese su Numero de Telefono.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Escríbanos *" required="required" data-validation-required-message="Por favor Ingrese sus comentarios."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Almpes - Lima, Perú 2018</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Políticas de Privacidad</a>
                        </li>
                        <!--<li class="list-inline-item">
                          <a href="#">Terms of Use</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals -->
    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">SERVICIO INBOUND</h2>
                                <p>Atención y gestión de reclamos, ofreciendo solución en línea u orientación a consultas y reclamos de los usuarios finales.</p>
                                <p>Soporte técnico, se ofrece asistencia para solución de fallas de PCs y equipos de telecomunicaciones. El soporte técnico podría complementarse con visita técnica de personal especializado.</p>
                                <p>Atención al cliente, se trata de  ofrecer información al  UF según su  requerimiento.</p>
                                <p>Gestión de Correos, Atención y respuesta de correos de los UF de su empresa.</p>
                                <p>Chat, atención de chats de UF de su empresa para ofrecer información y guía que requieran.</p>
                                <!--</ul>-->
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">

                    <h2 class="text-uppercase">SERVICIO OUTBOUND</h2>
                    <div class="row">
                        <!-- Project Details Go Here -->
                        <p>Telemarketing, promoción o ventas por teléfono para disminuir costos de venta presencial. Puede incluir agendamiento de visitas con personal especializado para brindar mayor información y cerrar las ventas.</p>
                        <p>
                            Gestión de cobranza por teléfono, a un menor costo, en apoyo o en reemplazo de la cobranza presencial.
                            Podría darse la cobranza preventiva (para recordar al UF el vencimiento de su pago)
                            Aviso de cobranza (recordatorio al UF que se ha vencido la fecha de pago y que está siendo afectado con mora)
                            Cobranza, (se busca establecer con el UF, compromiso de pago sobre su deuda).
                        </p>
                        <p>Encuestas de satisfacción. Se genera llamadas con el fin de realizar encuesta que el Cliente  haya elaborado para cumplir diferentes objetivos.</p>
                        <p>Programación de Citas, o agendamiento de citas para confirmación de Asistencia a  eventos,  se generan llamadas a personas de una  base de datos para brindar mayor información sobre el evento y  confirmar si  el llamado asistirá al evento.</p>
                        <p>
                            Click to Call, se inicia desde un botón ubicado en tu página web que tus posibles clientes podrán pulsar, generando un contacto de forma inmediata de teléfono a teléfono, desde el departamento que elijas de tu empresa hacia el número telefónico
                            introducido por el posible cliente. Sin necesidad de marcar números de teléfono, podrás mantener un contacto directo y automático con los posibles clientes de tu empresa.
                        </p>
                        <p>Actualización y Verificación de Datos de personal de una lista, se puede actualizar: nombre y apellidos, teléfonos, dirección, etc.</p>
                    </div>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">CONSULTORIA ESPECIALIZADA</h2>
                                <p>Dimensionamiento de plataformas In House (Outbound e Inbound). El Cliente nos proporciona la información necesaria y nosotros elaboramos el dimensionamiento de recursos y la programación de turnos del personal.</p>
                                <p>Asesoría en Call Center Orientada a mejorar los resultados  operativos de su personal, para todo servicio que ofrece desde su CC.</p>
                                <p>Implementación del Sistema de Gestión de Calidad en Call Center. Lo asesoramos para implementar su Sistema de Gestión de Calidad según la norma ISO 9001, y también  podríamos auditar el SGC para mantenerlo vigente.</p>
                                <p>Gestión de procesos internos de Planificación y Control según sus requerimientos.</p>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Assets/js/jqBootstrapValidation.js"></script>
    <script src="~/Assets/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Assets/js/agency.min.js"></script>
</body>
</html>

